@media (max-width: 550px) {
	.menu-main {
		padding-top: 0;
	}

	.menu-main li {
		display: block;
	}

	.menu-main li:after {
		content: none;
	}
	
	.menu-main a {
		padding: 25px 0 20px; 
		margin: 0 30px;
	}
}

@media (max-width: 768px) {
	.container-fl, .cont, .flSt  {
		flex-direction: column;
	}
	.flSt a {
		display: block;
		margin: 10px auto;
	}
	table {
		margin: 20px auto;
	}
}